:root{
    color: rgb(71 184 199);
}
.home{
    color: rgb(71 184 199);
}
.main{
    background-image:url('../assets/bg.jpg') ;
    max-width: 100vw;

}
.logo-size{
    font-size: 2.4em;
  letter-spacing: 5px;
  font-weight: 400;
}
.ms{
    margin-left: 35%;
}
.gap{
    gap: 30px;
}
 li{
    font-size: 25px;
    font-weight: 600;
   
}

.size{
    font-size: 30px;
    font-weight: 400;
}
.radius {
    border-color: rgb(71 184 199);
    padding-left: 35%;
    
}
.home-2{
    color: red;
   
}
.home-3{
    font-size: 20px;
    font-weight: 700;
}
.border{
    color: rgb(73, 139, 148);
}

.line{
    width: 90px;
    height: 43px;
    border-bottom: 5px solid red;
      position: absolute;
    }
    .slick-dots {
        position: absolute;
        bottom: 47px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
       
       
    }
    .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 66px;
        height: 177px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        
    }
   
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 2px solid white;
    border-radius: 50px;
    /* background-color: white; */
    color: transparent;
    
   
    
}
.slick-dots li.slick-active button:before {
    opacity: 1;
   color: white;
   border: none;
   
}

.custom-mr-4{
    margin-left: 6rem; 
}
@media screen and (max-width: 992px)  {
    .line{
        display: none; 
    }
    .custom-mr-3 ul{
       display: flex;
       align-items: center;
      
        
    }
    .custom-mr-3 .custom-mr-4{
      display: flex;
      justify-content: center;
      padding-right: 73px;
    
    }
}

@media screen and (max-width: 425px)  {
   
 
    .custom-mr-3 .custom-mr-4{
      display: flex;
      justify-content: center;
      margin-left: 0rem; 
      padding-right: 0px;
    
    }
}
