.main2{
    padding-top: 70px;
    
}
/* .img{
    width: 150px;
    height: 150px;
} */
.bord{
  border: 1px solid lightgray;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size: 30px;
    font-weight: 500;
    padding-top: 30px;
}