.main2{
    padding-top: 70px;
    
}
/* .img{
    width: 150px;
    height: 150px;
} */
.bord{
  border: 1px solid lightgray;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size: 30px;
    font-weight: 500;
    padding-top: 30px;
}
#root{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.color{
    font-weight: 300;
    font-size: 1.2em;
    color: light;
    line-height: 1.2;
}
@media screen and (max-width: 600px)  {
    .main2{
        padding-top: 10px;
        
    }
  
}
