:root{
    color: rgb(71 184 199);
}
.services{
    padding-top: 70px;
}
.Amazingservices{
    color: rgb(71 184 199);
    font-size: 2em;
    font-weight: 500;
}
.Enagage{
    font-size: 3em;
    font-weight: 600;
}

.text{
    font-size: 2em;
    font-weight: 500;
}
.paragrapgh-text{
    font-size: 1.3em;
    font-weight: 400;
}
.line-height{
    line-height: 1;
    
}
