:root{
    color: rgb(71 184 199);
}
.Amazingservices{
    color: rgb(71 184 199);
    font-size: 40px;
    font-weight: 500;
}
.Enagage{
    font-size: 60px;
    font-weight: 600;
}

.text{
    font-size: 40px;
    font-weight: 500;
}
.paragrapgh-text{
    font-size: 20px;
    font-weight: 400;
}
.line-height{
    line-height: 1;
    
}
