:root{
    color: rgb(71 184 199);
}
.services{
    padding-top: 50px;
    padding-bottom: 50px;
}
.Amazingservices{
    color: rgb(71 184 199);
    font-size: 2em;
    font-weight: 500;
}
.Enagage{
    font-size: 3em;
    font-weight: 600;
}

.text{
    font-size: 2em;
    font-weight: 500;
}
.paragrapgh-text{
    font-size: 2em;
    font-weight: 400;
}
.line-height{
    line-height: 1;
    
}
.E-text{
  padding: 25px 0px;
 
 
}
@media screen and (max-width: 1400px)  {
    .font{
        text-align: center;
    }
    
}
@media screen and (max-width: 992px)  {
    .font{
        font-size: 75%;
    }
    
}
@media screen and (max-width: 600px)  {
    .services{
        padding-top: 0px;
        padding-bottom: 0px;
    }
  
}